name: Shellcheck

on:
  push:
    paths:
      - '**/*.sh'
      - '.github/workflows/shellcheck.yml'
      - '.github/linters/.shellcheckrc'
  pull_request:
    paths:
      - '**/*.sh'
      - '.github/workflows/shellcheck.yml'
      - '.github/linters/.shellcheckrc'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Run shellcheck
        uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
        with:
          shellcheck_flags: --external-sources
          reporter: github-pr-check
          level: warning
          fail_on_error: true