name: Yamllint

on:
  push:
    paths:
      - '**/*.yml'
      - '**/*.yaml'
      - '.github/workflows/yamllint.yml'
      - '.github/linters/.yamllint'
  pull_request:
    paths:
      - '**/*.yml'
      - '**/*.yaml'
      - '.github/workflows/yamllint.yml'
      - '.github/linters/.yamllint'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: yamllint -c .github/linters/.yamllint .
